{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .autre img{
        width: 200px;
    }
</style>
        <section>
            
            <div class="container mt-5">
                <div class="row g-2 mt-5 py-5">
                  <div class="col-6 bg-light">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'images/image_resto/room1.jpg' %}" width="500px" alt="">
                                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="{% url 'hotel_view' hotel.id %}"><h4 class=" ">{{hotel.nom}}</h4></a>
                            <h5>$250<small>/night</small></h5>
                        
                    </div>
                  </div>
                    <div class="col-6">
                        {% if message %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <h3 class="alert-heading">😇  Well done! {{message}}</h3>
                                <button class="btn btn-outloine-success"><a href="#autre">
                                    Voir </a></button>
                            </div>
           
                         {% endif %}
                         {% if message_error %}
                         <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <h3 class="alert-heading">Dommage 😞 !  {{message_error}} </h3>
                        
                        </div>
                         {% endif %}
                         
                        <div class="p-3"><h2 class="fs-4 text-dark">{{hotel.nom}}</h2></div>
                        <div class="container">
                            <div class="row">
                                <div class="col my-0">
                                    <div class="d-flex my-0 py-0">
                                        {% for i in "123" %}
                                        <p><i class="bi bi-star-fill text-warning "></i></p>
                                        {% endfor %}
                                        <i class="bi bi-star-half text-warning "></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <i class="bi bi-geo-alt  text-danger"></i> {{hotel.adresse}}
                                </div>
                                <div class="col">
                                    Column
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h3 class="fs-1 text-danger">25000 CFa<small>/nuit</small></h3>
                                    </div>
                                </div>
                                <div>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui soluta reprehenderit et reiciendis quos saepe?</p>
                                    {% if not message %}
                                    <button type="submit">
                                        <a href="{% url 'reserver_hotel' hotel.id %}" class="btn theme_btn button_hover">Book Now</a>
                                    </button>
                                    
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>
                {% if data %}
                <div class="row mt-5" id="autre">
                    <h1 class="fs-1">Trouvez la chambre qui vous convient !</h1>
                    <hr>
                    {% for item in chambre %}
                     <!-- |slice:":1" -->
                    <div class="row container mx-auto">
                        <div class="d-flex  accomodation_item">
                            <div class="flex-shrink-0">
                              <img src="" width="400px" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>{{room_descript}}</h3>
                                <div class="row">
                                    
                                </div>
                                From<h4 class="fs-2 text-success bg-outline-success"><i class="bi bi-tags fs-2"></i> {{room_price}} £<small>/night</small></h4>
                                <div class="row">
                                    <div class="col-md-2 align-items-center text-center">
                                        <i class="bi bi-cup-hot fs-2"></i>
                                        <H4>Coffee</H4>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <i class="bi bi-wifi fs-2"></i>
                                        <h4>Wireless</h4>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <i class="bi bi-tv fs-2"></i>
                                        <h4>Tv</h4>
                                    </div>
                                    
                                </div>
                                <button class="btn-sm btn-outline-dark"><a href="{% url 'reserver_chambre' item.id %}"> Reserver maintenant ! </a></button>
                                
                            </div>
                          </div>
                    </div>
                       
                    {% endfor %}

                </div>
                {% endif %}
            </div>
        </section>

{% endblock %}




