{% load static %}
<!doctype html>
<html lang="en">
    <head>
          <!-- Required meta tags -->
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{% static 'images/image_resto/logo.png' %}" type="image/png">
<title>Kaay reserver</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/css_resto/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/vendors/linericon/style.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/vendors/nice-select/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/vendors/owl-carousel/owl.carousel.min.css' %}">
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/css_resto/style.css' %}">
<link rel="stylesheet" href="{% static 'css/css_resto/responsive.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <!--================Header =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><span class="fs-1 h1 ">K</span>aay reserver</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                            <li class="nav-item"><a class="nav-link" href="accomodation.html">Accomodation</a></li>
                            <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item"><a class="nav-link" href="elements.html">Elemests</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
    
        <section>
            
            <div class="container mt-5">
                <div class="row g-2 mt-5 py-5">
                  <div class="col-6 bg-light">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="{% static 'images/image_resto/room1.jpg' %}" width="500px" alt="">
                                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="{% url 'hotel_view' hotel.id %}"><h4 class=" ">{{hotel.nom}}</h4></a>
                            <h5>$250<small>/night</small></h5>
                        
                    </div>
                  </div>
                    <div class="col-6">
                        {% if message_ok %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <h4 class="alert-heading">Well done! {{date_depart}}</h4>
                                <p>{{message}}.</p>
                                <hr>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                            </div>
           
                         {% endif %}
                         {% if message_error %}
                         <div class="alert alert-danger alert-dismissible fade show" role="alert">
                             <h4 class="alert-heading">Well done! {{date_depart}}</h4>
                             <p>{{message}}.</p>
                             <hr>
                             <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                         </div>
        
                      {% endif %}
                        <div class="p-3"><h2 class="fs-4 text-dark">{{hotel.nom}}</h2></div>
                        <div class="container">
                            <div class="row">
                                <div class="col my-0">
                                    <div class="d-flex my-0 py-0">
                                        {% for i in "123" %}
                                        <p><i class="bi bi-star-fill text-warning "></i></p>
                                        {% endfor %}
                                        <i class="bi bi-star-half text-warning "></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <i class="bi bi-geo-alt  text-danger"></i> {{hotel.adresse}}
                                </div>
                                <div class="col">
                                    Column
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h3 class="fs-1 text-danger">25000 CFa<small>/nuit</small></h3>
                                    </div>
                                </div>
                                <div>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui soluta reprehenderit et reiciendis quos saepe?</p>
                                    {% if not message %}
                                    <button type="submit">
                                        <a href="{% url 'reserver_hotel' hotel.id %}" class="btn theme_btn button_hover">Book Now</a>
                                    </button>
                                    
                                   
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>
              </div>
        </section>







        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->

       
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
crossorigin="anonymous"></script>
<script src="{% static 'js_resto/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js_resto/popper.js' %}"></script>
<script src="{% static 'js_resto/bootstrap.min.js' %}"></script>
<script src="{% static 'js_resto/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js_resto/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js_resto/mail-script.js' %}"></script>
<script src="{% static 'js_resto/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js_resto/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'js_resto/mail-script.js' %}"></script>
<script src="{% static 'js_resto/stellar.js' %}"></script>
<script src="{% static 'js_resto/vendors/lightbox/simpleLightbox.min.js' %}"></script>
<script src="{% static 'js_resto/custom.js' %}"></script>
    </body>
</html>