{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" style="background-image: url('https://img.freepik.com/free-photo/air-ticket-flight-booking-concept_53876-122380.jpg?w=1060&t=st=1685009550~exp=1685010150~hmac=d9c26fe2aa218d1606fddf2d4d5aa9f867857ebaff47e77c928d13c097e6cadc');background-attachment: fixed;"></div>
        <div class="container">
            <div class="banner_content text-center">
                
                <h2>REservez</h2>
                <h6>Reservez en un Click</h6>
                <p>If you are looking at blank cassettes on the web, you may be very confused at the<br> difference in price. You may see some for as low as $.17 each.</p>
                <a href="#" class="btn theme_btn button_hover">Get Started</a>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            
        </div>
    </div>
  
</section>
</div>
     <h3>OFFRES</h3>
<div class="decouverte">
        <p>Découvrez nos offres et choisissez <br> destinations vos préférées !</p>
        <p>Découvrez nos offres et choisissez <br> destinations vos préférées !</p> 
</div>
<div class="decouverte">
    <img src="{% static 'images/voyage-à-Hawaï-2.jpg' %}" alt="" width="45%">
    <img src="{% static 'images/resto*.jpg' %}" alt="resto" width="45%">
</div>
<div class="decouverte1">  
    <a href="">Voir toutes les offres</a>
    <a href="">Restaurants à proximité</a>
</div>
<h3>DECOUVREZ</h3>
<div class="decouverte"><p>Les meilleurs endroits au Sénégal</p></div>
<div class="endroit">
    <div class="ville">
        <p>Mbour</p>
        <p>Somone</p>
        <p>Cap SKirring</p>
        <p>Dakar</p>
        <p>Lac Rose</p>
    </div>
    <div class="photo">
        <img src="{% static 'images/Mbour.jpg' %}" alt="" width="15%">
        <img src="{% static 'images/somone.jpg' %}" alt="" width="15%">
        <img src="{% static 'images/cap.jpg' %}" alt="" width="15%">
        <img src="{% static 'images/dakar.jpg' %}" alt="" width="15%">
        <img src="{% static 'images/lac.jpg'%}" alt="" width="15%">
    </div>
    <a href="">Voir Plus</a>
</div>
{% endblock %}