{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Mogra&family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Mogra&family=Permanent+Marker&family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/voiture.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/css_resto/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/vendors/owl-carousel/owl.carousel.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/css_resto/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/css_resto/responsive.css' %}">
    <script src="{% static 'js/voiture.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   

    <title>location voiture</title>
</head>
<body>
    <!--================Header =================-->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><span class="fs-1 h1 ">K</span>aay reserver</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
                        <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="accomodation.html">Accomodation</a></li>
                        <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
                            </ul>
                        </li> 
                        <li class="nav-item"><a class="nav-link" href="elements.html">Elemests</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                </div> 
            </nav>
        </div>
    </header>
    <!--================ HEader =================-->
    <section class="banner_area">
            <div class="booking_table d_flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" style="background-image: url('{% static 'images/fond.jpg'%}');background-attachment: fixed;"></div>
				<div class="container recherches">
                    <form class="row g-3">
                       
                        <div class="col-auto">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-auto">
                            <label for="end_date">Date de debut:</label>
                            <input type="date" id="start_date" name="date_debut" required><br>
                        </div>
                        <div class="col-auto">
                            <label for="end_date">Date de fin:</label>
                            <input type="date" id="end_date" name="date_fin" required><br>
                        </div>
                        
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-3">Voir les voitures</button>
                        </div>
                      </form>
        
				</div>
            </div>mulaire
            return render(request, 'car_reservation.html')
          
        </section>
    {% comment %} <div class="contener_haut">

        <div class="contenu_haut">
    
        <div class="icons">
            <img src="{% static 'images/user1.png'%}"alt="" width="40px">
            <img src="{% static 'images/account.png'%}"alt="" width="30px" height="29px">
            <img src="{% static 'images/shopping-cart.png'%}" alt="" width="40px">
        
        </div>
        <div class="trait">

        </div>

        <div class="nav">
            <a href="#">Accueil</a>
            <a href="#">À propos</a>
            <a href="#">Services</a>
            <a href="#">Contact</a> 
        </div>
    </div>
     
    </div> {% endcomment %}
    
    <div class="contener_page">
    <div class="nos_voitures">Decouvrez nos voitures</div>

    <div class="cars">

    {%for voiture in voitures%}
        <a href="{% url 'details' voiture.id %}">    

        <div class="v1">

            <div class="name"> {{voiture.marque}}</div>
            <div class="model"> {{voiture.model}}</div>

            <div class="box_voiture">
                <img src="{% static 'images/' %}{{ voiture.image }}" alt="" width="340">

            </div>
            <div class="plus">

                <div class="siege"><img src="{% static 'images/siege.png' %}" alt="" width="37">
                    <div>{{voiture.capacity}}</div>
                </div>

                <div class="siege"><img src="{% static 'images/essence.png' %}" alt="" width="37">
                    <div>{{voiture.fuel_type}}</div>
                </div>

                <div class="siege"><img src="{% static 'images/car-gear.png' %}" alt="" width="37">
                    <div>{{voiture.transmission}}</div>
                </div>

            </div>
            <div class="prix">
                <div>{{voiture.prix_location}}</div>
            </div>

        </div>
    </a>
        {% endfor%}
    
        
        <div class="v2">
            <img src="{% static 'images/land-cuirser.png'%}" alt="" width="900">
            <div class="plus">
                <button class="voir">voir..</button>
                <button class="ajouter"> ajouter</button>

            </div>

        </div>
    </div>

    </div>
    
   



       <!--================ start footer Area  =================-->	
       <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Feature</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>										
                        </div>							
                    </div>
                </div>							
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span>j</button>		
                                </div>									
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>						
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
    <script src="{% static 'js_resto/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js_resto/popper.js' %}"></script>
    <script src="{% static 'js_resto/bootstrap.min.js' %}"></script>
    <script src="{% static 'js_resto/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js_resto/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js_resto/mail-script.js' %}"></script>
    <script src="{% static 'js_resto/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js_resto/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'js_resto/mail-script.js' %}"></script>
    <script src="{% static 'js_resto/stellar.js' %}"></script>
    <script src="{% static 'js_resto/vendors/lightbox/simpleLightbox.min.js' %}"></script>
    <script src="{% static 'js_resto/custom.js' %}"></script>
</body>

</html>